<ngb-alert *ngIf="deleteSuccess" class="text-center" type="success" (close)="deleteSuccess=false">
  <i class="fa fa-check"></i>
  The quote has been deleted successfully.
</ngb-alert>
<div class="container">
  <app-quote-add [quotes]="quotes" (saved)="onSave($event)"></app-quote-add>
  <ng-template [ngIf]="!fetched()">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="fetched() && onSuccess(quotes)">
      <app-quote-card
        [quotes]="quotes"
        (updated)="onUpdate($event)"
        (deleted)="onDelete($event)">
      </app-quote-card>
  </ng-template>
  <ng-template [ngIf]="fetched() && !onSuccess(quotes)">
    {{ quotes }}
  </ng-template>
</div>

