@media (min-width: 1200px) {
  .container{
    margin-top: 50px;
    max-width: 600px;
    margin-bottom: 50px;
  }
}

.fa-trash:hover {
  color: red;
}

.fa-pencil:hover {
  color: yellow;
}

.fa-pencil {
  margin-right: 5px;
}
