<div class="container">
  <div class="form-group row">
    <div class="col-xs-10">
      <form (ngSubmit)="onSave(ref)" #ref='ngForm'>
        <button type="submit" class="btn btn-primary mb-2" style="float: right;">Save</button>
        <div style="overflow: hidden; padding-right: .5em;">
          <input type="text" class="form-control" name="quoteContent" placeholder="Type a new quote ..." style="width: 535px" ngModel>
        </div>
      </form>
    </div>
  </div>
  <ng-template [ngIf]="!fetched()">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="fetched() && onSuccess(quotes)">
    <ng-container *ngFor="let quote of quotes">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><i class="fa fa-quote-left"></i><br>{{ quote.content }}</p>
              <footer class="blockquote-footer"><cite>{{ quote.author }}</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template [ngIf]="fetched() && !onSuccess(quotes)">
    {{ quotes }}
  </ng-template>
</div>

