<ngb-alert *ngIf="deleteSuccess" class="text-center" type="success" (close)="deleteSuccess=false">
  <i class="fa fa-check"></i>
  The quote has been deleted successfully.
</ngb-alert>
<div class="container">
  <form (ngSubmit)="onSave(ref)" #ref='ngForm'>
    <div class="form-group row">
      <label for="content" class="col-sm-2 col-form-label">Content: </label>
      <div class="col-sm-10">
        <input type="text" id="content" class="form-control" name="quoteContent" ngModel>
      </div>
    </div>
    <div class="form-group row">
      <label for="author" class="col-sm-2 col-form-label">Author: </label>
      <div class="col-sm-10">
        <input type="text" id="author" class="form-control" name="authorContent" ngModel>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2" style="float: right;">
      <span *ngIf="saving">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
      Save
    </button>
    <div class="clearfix"></div>
  </form>
  <ng-template [ngIf]="!fetched()">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="fetched() && onSuccess(quotes)">
    <ng-container *ngFor="let quote of quotes">
      <div class="row">
        <div class="card w-100">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <i class="fa fa-quote-left"></i>
              <i (click)="openModal(quote.id)" class="fa fa-trash float-right"></i>
              <i (click)="update(quote)" class="fa fa-pencil float-right"></i>
              <br>
              <div *ngIf="isEditing(quote.id); else showContent">
                <form (ngSubmit)="onUpdate(ref)" #ref='ngForm'>
                  <input type="text" class="form-control" name="quoteContent" style="margin-bottom: 10px" [ngModel]="targetQuote.content">
                  <input type="text" class="form-control" name="authorContent" [ngModel]="targetQuote.author">
                  <div style="float: right; margin-top: 15px">
                    <button (click)="targetQuote=undefined" class="btn btn-outline-secondary mb-2" style="margin-right: 10px">
                      Cancel
                    </button>
                    <button type="submit" class="btn btn-primary mb-2">
                      <span *ngIf="updating">
                        <i class="fa fa-spinner fa-spin"></i>
                      </span>
                      Update
                    </button>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
              <ng-template #showContent>
                {{ quote.content }}
                <footer class="blockquote-footer"><cite>{{ quote.author }}</cite></footer>
              </ng-template>
            </blockquote>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template [ngIf]="fetched() && !onSuccess(quotes)">
    {{ quotes }}
  </ng-template>
</div>

